server:
  port: 8080

spring:
  application:
    name: mapledeatharena-dev

logging:
  level:
    com.mapledeatharena: DEBUG
    org.springframework.web: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: '*'